
*{
  padding: 0;
  margin: 0;
}

/* :root{
  --primary-color:#2b463c;
  --secondary-color:#688f4e; */

body {
  background-color: #f4f1e9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.header {
  top: 0;
  position: fixed;
  background-color: #2b463c;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 10px; */
}

.headercontent {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  position: relative;
}

nav ul li a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  height: 3px;
  width: 0;
  transform: translateX(-50%);
  background-color: #688f4e;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover::before {
  width: 100%;
}

nav ul li a:focus {
  background-color: #688f4e;
  opacity: 0.2px;
  border-radius: 20px;
}

nav ul li a:focus::before {
  width: 0%;
}


.movie {
  background-color: #2b463c;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #b1d182;
  overflow: hidden;
  margin: 1rem;
  width: 250px;
}

.movie img {
  width: 100%;
  height: 370px;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5 rem;
}

.movie-info h5, a {
  margin: 1rem;
  align-content: center;
  color: #f4f1e9;
}

.movie-title {
  align-items: center;
  padding: 1 rem;
}

.movie-title h5 {
  margin: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f4f1e9;
}

.movie-container {
  padding-top: 100px;
  /* padding-left: 5%;
  padding-right: 5%; */
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 700px){
  .header {
  height: fit-content;
  display: flex;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

}
